
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Quicksand:wght@300;500;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Quicksand', sans-serif;
    
}

a,
a:link,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
.container{
    width: auto;
    margin: 0 auto;
    padding: 0 0px;
}

#header {
    width: fit-content;
    background-color: #F8F9F9 ;

}
.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    width: auto;
    background-color: ;
  
}

.header-logo {
    width: min-content;
    margin-left: 0px;
}
ul {
    display: flex;

}
li{
    margin-left: 27px;
}

li:first-child{
    margin-right: 60px;

}
a{
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.reputed-satir  {
    display: flex;
    font-size: 35px;
    padding-left: 140px;
    align-items: center;
    padding-right: 100px;
}
.reputed-image {
    padding-left:initial
    padding-right:initial
}
.header-baslik {
    color: #2E4053;
    width: fit-content;
}


#services {
display: flex;
flex-direction: row;
justify-content: center;
font-size: 15px;

}

.box {
    align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: #F39C12 ;
    margin: 0px 20px;
    padding: 30px;
    transition: 0.5s;
    text-align: left;
}

.image{
    margin-top: 20px;
}

.box:hover {
    transform: scale(1.3);
    background: #F4D03F  ;
    z-index: 2;
}